<!DOCTYPE html>
<html>

	<head>
		<title>Dexter Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<style>
table {width:100%; margin-left:auto; margin-right:auto; max-width:500px; max-height:40%}
input {width:80%;}
td {text-align:center; vertical-align:middle;}

#server {
	display:block;
	margin:0% auto 2%;
}
#start {
	display:inline-block;
	margin:0% auto 2%;
}
#stop {
	display:inline-block;
	margin:0% auto 2%;
}
video {
	position:absolute;
	visibility:hidden;
}
canvas { border:8px solid #fff;}
button {
	border:none;
	display:block;
	padding:0.5em 1em;
	margin:1% auto 0;
	cursor:pointer;
	color:#fff;
	background-color:#9f361b;
}
button:active { background-color:#e44d26; }
</style>

<script src='signalling.js'></script>
<script src='main.js'></script>
<script  type='text/javascript'>
	var Module = {
		preRun: [],
		postRun: [],
		print: (function () {
			return function (text) {
				text = Array.prototype.slice.call(arguments).join(' ');
				console.log(text);
			};
		})(),
		printErr: function (text) {
			text = Array.prototype.slice.call(arguments).join(' ');
			console.error(text);
		}
	};
</script>



	<body>
		<!--img src="{{ url_for('video_feed') }}" style="width:100%; height:100%; border-radius:10px; "></img -->
		<h1>Face Detection DEMO with OpenCV & WebRTC!</h1>
        <label id='server'>Web Service URL <input required type="text" id="address" value="" title="hostname (or IP address) and port of the UV4L WebRTC Web Service"/></label>
        <div>
            <button id='start' title="If you do not see any video stream, make sure your browser supports the codec used within this demo (see the source code for details, or try Firefox or Chrome)">Start Streaming</button>
            <button id='stop'>Stop Streaming</button>
        </div>
        <video id='v'></video>
        <canvas id='c'></canvas>
        <script>
            // Let's get a default address for the signalling server
            var address = document.getElementById('address').value;
            if (!address || address === '') {
                var hostname = location.hostname;
                if (hostname) {
                    address = hostname + ':' + (location.port || (location.protocol === 'https:' ? 443 : 80)) + '/webrtc';
                    document.getElementById('address').value = address;
                } else {
                    document.getElementById('address').value = "<host>:<port>/webrtc";
                }
            }
        </script>
		<table border="0">
			<tr>
				<td>
					<form action="/7" method="POST">
						<input type="image" name="direction" src="../static/img/ccw.svg" value="ccw">
						</br>
					</form>
				</td>
				<td>
					<form action="/2" method="POST">
						<input type="image" name="direction" src="../static/img/forward.svg" value="forward">
						</br>
					</form>
				</td>
				<td>
					<form action="/6" method="POST">
						<input type="image" name="direction" src="../static/img/cw.svg" value="cw">
						</br>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form action="/1" method="POST">
						<input type="image" name="direction" src="../static/img/left.svg" value="left">
						</br>
					</form>
				</td>
				<td>
					<form action="/5" method="POST">
						<input type="image" name="direction" src="../static/img/stop_2.svg" value="stop" >
						</br>
					</form>
				</td>
				<td>
					<form action="/3" method="POST">
						<input type="image" name="direction" src="../static/img/right.svg" value="right">
						</br>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form action="/8" method="POST">
						<input type="image" name="direction" src="../static/img/minus.svg" value="speed_down">
						</br>
					</form>
				</td>
				<td>
					<form action="/4" method="POST">
						<input type="image" name="direction" src= "../static/img/backward.svg" value="backward">
						</br>
					</form>
				</td>
				<td>
					<form action="/9" method="POST">
						<input type="image" name="direction" src="../static/img/plus.svg" value="speed_up">
						</br>
					</form>
				</td>
			</tr>
		</table>

	</body>
</html>
